<div class='authentication'>
  <p>No authentication information is available!</p>
  <p>Try one of the below Sign In Method</p>
  </div>
  <div id='developer-options'>Try <%= link_to 'Signing in with the developer strategy', '/auth/developer', method: :post %>.</div>
  
  <div id='github-options' style="float: right;">Try <%= link_to 'Signing in with the GitHub strategy', '/auth/github', method: :post %>.</div>