/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .center {
	text-align: center;
	border: 3px solid green;
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
  }



 :root {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	--primary: #486661;
	--secondary: #B8BFF2;
	--sub: #F2DEC3;
	--sub1: #D0F2EC;
	--sub2: #767BA6; 
	--text: #223030;
	--link: #1F4DAB;
	--link2: green;
}

body {
    margin: 0;
	padding: 0;
	background-color: var(--sbu1);
}

#header {
	/* position: fixed;
	top: 50px; */
	height: 30px;
	width: auto;
	text-align: center;
	justify-content: center;
	color: var(--text);
	background-color: var(--secondary);
}

#navbar {
	position: fixed;
	top: 0;
	height: 80px;
	width: 100%;
	text-align: center;
	justify-content: center;
	color: var(--text);
	background-color: var(--secondary);
}

.left-section {
	width: 40%;
	height: 100%;
	float: left;
}

.right-section {
	width: 40%;
	height: 100%;
	float: right;
}

#home {
	position: fixed;
	width: 100%;
    top:80px; 
    bottom: 80px;
	font-size:90px; 
	line-height:535px;
	color: var(--text);
	text-align: center;
	justify-content: center;
}

#home-options {
	width: 50%;
	height: 100%;
	float: left;
}

.authentication {
	padding: 1px 1px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
	background-color: #cecfbec5;
	resize: none;
	  margin-top: 10px;
	  margin-left: 10px;
	  width: 100%;
	  font-size:40px;
	  line-height:0px;
	  color: red;
	  text-align: center;
	  justify-content: center;
  }

#developer-options {
	/* position: fixed; */
	float: left;
	margin-top: 10px;
	margin-left: 10px;
	height: 250px;
	width: 450px;
	font-size:50px; 
	line-height:50px;
	color: var(--text);
	text-align: center;
	justify-content: center;
	border-radius: 25px;
	border: 2px solid #73AD21;
}

#github-options {
	/* position: fixed; */
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	height: 250px;
	width: 450px;
	font-size:50px; 
	line-height:50px;
	color: var(--text);
	text-align: center;
	justify-content: center;
	border-radius: 25px;
	border: 2px solid #73AD21;
}

.main {
	position: fixed;
	width: 100%;
    top: 160px;
    bottom: 80px;
	color: var(--text);
	text-align: center;
	justify-content: center;
	font-size: 20px;
}

.title {
	position: fixed;
	width: 100%;
	height: 80px;
    top: 80px;
	color: var(--primary);
}

.main-left {
	width: 60%;
	height: 90%;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	border-width: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: var(--primary);
	overflow: scroll;
}

.main-center {
	width: 60%;
	height: 90%;
	float: centre;
	margin-left: 10px;
	margin-top: 10px;
	border-width: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: var(--primary);
	overflow: scroll;
	padding: 10px;
}

.main-right {
	width: 38%;
	height: 100%;
	float: right;
	font-size:larger; 
	line-height:455px;
}

.show-left {
	width: 60%;
	height: 100%;
	float: left;
	font-size:larger; 
}

.show-right {
	width: 30%;
	height: 90%;
	margin-right: 20px;
	float: right;
}

#footer {
	position: fixed;
	height: 80px;
	width: 100%;
	bottom: 0px;
	text-align: center;
	justify-content: center;
	color: var(--text);
	background-color: yellowgreen;
	z-index: -1;
}

#footer-main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    font-size: smaller;
}

#footer-contact {
    display: flex;
    flex: 1;
    flex-direction: column;
    line-height: 25px;
    width: 50%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#footer-info {
	display: flex;
	flex: 1;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#footer-favicon {
	width: 50px;
}

#footer-copyright {
	margin: 0 auto;
	position: relative;
	text-align: center;
}

#navbar a {
	color: var(--text);
}

#navbar a:hover {
	color: var(--link2);
}

.main-right a {
	color: var(--primary);	
}

#home a {
	color: var(--primary);	
}

#home a:hover {
	color: var(--link2);	
}

a {
	color: var(--link);
	text-decoration: none;
}

a:hover {
	color: var(--link2);
}

table {
	position: center;
	align-items: center;
	width:auto;
	height: auto;
	line-height: 40px;
	border: 3px;
	padding: 3px;
}

.tableFixHead { 
	overflow: auto;
}

.tableFixHead thead th { 
	position: sticky; 
	top: 0;
	z-index: 1; 
}

th {
	height: 10px;
	white-space: nowrap;
	background-color: var(--secondary); 
	border-collapse: 3px;
	margin-left: 2px;
}

textarea {
	width: 210px;
	height: 20px;
	text-align: center;
}

.list {
	width: 100%;
	height: 80%;
	float: right;
	border-width: 5px;
	border-radius: 5px;
	border-style: solid;
	border-color: var(--primary);
	overflow: scroll;
}

.list-element {
    display: flex;
	padding-left: 10px;
	padding-right: 10px;
    justify-content: space-between;
	line-height: 40px;
}

input[value='DISCARD'] {
	margin-top: 10px;
}

form {
	line-height: 25px;
}

.validation {
	position: float;
	height: 80px;
	width: 100%;
	bottom: 20px;
	padding-left: 50px;
	text-align: start;
	justify-content: center;
	font-size: 10px;
	font-weight: bold;
	color: red;
	background-color: var(--sub1);
	overflow: scroll;
	z-index: 1;
}




.topnav {
	overflow: hidden;
	background-color: rgb(56, 17, 145);
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #04AA6D;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }
  
  @media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {display: none;}
	.topnav a.icon {
	  float: right;
	  display: block;
	}
  }
  
  @media screen and (max-width: 600px) {
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
  }