
<h1 class="main: center">SCHOOL ACCOUNT</h1>

<br>
<div class='topnav'>
    <a>STUDENTS</a>
    <a>TEACHERS</a>
    <a>CLASS ROOM</a>
    <a>SALARY PAYMENT</a>
    <a>FEE PAYMENT</a>
    <a>SALARY</a>
	<a>TUITION FEE</a>
</div>
